ProducerCase.baseDir=./build/examples/producers
ConsumerCase.baseDir=./build/examples/consumers
ServiceCase.baseDir=./build/examples/services
jruby.dir=./build/jruby-@jrubyVersion@
jruby.script=./src/test/resources/myjsonpath.rb
jruby.lifecycle.script=./src/test/resources/lifecycle.rb
