ProducerCase.baseDir=./build/example-xml/producers
ConsumerCase.baseDir=./build/example-xml/consumers
ServiceCase.baseDir=./build/example-xml/services
jruby.dir=./build/jruby-@jrubyVersion@
jruby.script=./src/test/resources/myjsonpath.rb
jruby.lifecycle.script=./src/test/resources/lifecycle.rb
